  [name="tab-orders"] {
    .card {
      border-radius: 0;
      .item-divider:first-child {
        background-color: #222;
        .item-avatar {
          background-color: transparent;
        }
        h2,
        p {
          color: white;
        }
      }
      img {
        width: auto !important;
        height: auto !important;
      }
    }
    .tabs-top {
      position: relative;
      top: 0;
    }
    .filter {
      color: black;
      background-color: transparent;
    }
    .filter.active {
      background-color: #87ff28;
      color: white;
    }
    .filter:hover {
      background-color: #ff9600;
      color: white;
    }
  }