[name="tab-product"] {
  [for="upload"] {
    margin-right: 50px;
  }
  #upload {
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  img {
    height: 150px;
    margin-right: 20px;
  }
}