[name="tab-products"] {
  img {
    height: 150px;
  }
  .card {
    border-radius: 0;
    .item-divider:first-child {
      background-color: #87ff28;
      padding: 5px;
      a {
        background-color: transparent;
      }
    }
  }
}