<ion-view view-title="Orders">
  <ion-content>
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search">
    </label>
    <div class="list" ng-repeat="order in ordersCtrl.orders">
      <a href="#">{{order.client}} : {{order.time}}</a>
      <button class="icon ion-briefcase"></button>
      <div class="list" ng-repeat="item in order.items">
        <div class="item item-thumbnail-left">
          <img ng-src="images/{{item.pictures[0]}}" height="150" width="150" />        
          <p>{{item.name}} : {{item.quantity}}</p>
          <button class="icon ion-bag"></button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>