<ion-view view-title="Order">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <div class="input-label">Client</div>
        <input type="text" ng-model="orderCtrl.client">
      </label>
      <label class="item item-input">
        <div class="input-label">Name</div>
        <input type="text" ng-model="orderCtrl.name">
      </label>
      <label class="item item-input">
        <div class="input-label">Quantity</div>
        <input type="text" ng-model="orderCtrl.quantity">
      </label>
      <label class="item item-input">
        <div class="input-label">Total Price</div>
        <input type="text" ng-model="orderCtrl.totalPrice">
      </label>
      <label class="item item-input">
        <div class="input-label">Real Unit Price</div>
        <input type="text" ng-model="orderCtrl.realUnitPrice">
      </label>
      <label class="item item-input">
        <div class="input-label">Real Transportation Fee</div>
        <input type="text" ng-model="orderCtrl.realTransportationFee">
      </label>
      <label class="item item-input">
        <div class="input-label">Real Express Fee</div>
        <input type="text" ng-model="orderCtrl.realExpressFee">
      </label>
      <label class="item item-input">
        <div class="input-label">Status</div>
        <input type="text" ng-model="orderCtrl.status">
      </label>
      <div class="button-bar">
        <a class="button button-icon icon ion-archive"></a>
        <a class="button button-icon icon ion-clipboard"></a>
      </div>
    </div>
  </ion-content>
</ion-view>