<ion-view view-title="Order">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <div class="input-label">Client</div>
        <input type="text" ng-model="orderCtrl.client">
      </label>
      <label class="item item-input">
        <div class="input-label">Total Price</div>
        <input type="text" ng-model="orderCtrl.totalPrice">
      </label>
      <div class="list" ng-repeat="item in orderCtrl.items">
        <div class="item item-thumbnail-left">
          <img ng-src="images/{{item.picture}}" height="150" width="150" />
          <p>{{item.name}} : {{item.quantity}}</p>
          <button class="icon ion-minus" ng-click="orderCtrl.remove(item)"></button>
        </div>
      </div>
      <div class="button-bar">
        <a class="button button-icon icon ion-archive"></a>
        <a class="button button-icon icon ion-clipboard"></a>
      </div>
    </div>
  </ion-content>
</ion-view>