<ion-view view-title="Orders">
  <ion-content>
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search">
    </label>
    <div class="tabs tabs-top tabs-icon-only">
      <div class="tab-item filter" ng-click="ordersCtrl.filter()">
        <i class="icon ion-refresh"></i>
      </div>
      <div class="tab-item filter" ng-repeat="state in ordersCtrl.states" ng-click="ordersCtrl.filter(state)" ng-class="{active: state.name===ordersCtrl.state}">
        <i class="icon {{state.icon}}"></i>
      </div>
    </div>
    <div class="list" ng-repeat="order in ordersCtrl.orders">
      <div class="card">
        <div class="item item-divider">
          <div class="item item-avatar">
            <img ng-src="images/person.jpg"></img>
            <h2>{{order.client}}</h2>
            <p>{{order.time}}</p>
            <p>${{order.totalPrice}}</p>
            <button class="button icon ion-edit" ng-click="ordersCtrl.edit(order)"></button>
            <button class="button icon ion-trash-a" ng-click="ordersCtrl.remove(order)"></button>
          </div>
        </div>
        <div class="list" ng-repeat="item in order.items track by $index">
          <div class="item item-thumbnail-left" ng-if="ordersCtrl.state === undefined || item.status===ordersCtrl.state">
            <img ng-src="{{item.picture}}" />
            <div class="item item-divider">
              <h3>{{item.name}}</h3>
              <p>QTY: {{item.quantity}}</p>
            </div>
            <div class="item item-divider">
              <button class="button" ng-repeat="state in ordersCtrl.states" ng-class="{active: item.status===state.name}" ng-click="ordersCtrl.updateStatus(order, item, state.name)">
                <i class="icon {{state.icon}}"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>