<ion-view view-title="Products">
  <ion-content>
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search">
    </label>
    <div class="list" ng-repeat="product in productsCtrl.products">
      <div class="card">
        <div class="item item-divider">
          <div class="item item-avatar">
            <img ng-src="images/product.jpg"></img>
            <h2>{{product.name}}</h2>
            <button class="button icon ion-edit" ng-click="productsCtrl.edit(product)"></button>
            <button class="button icon ion-trash-a" ng-click="productsCtrl.remove(product)"></button>
          </div>
        </div>
        <div class="row" style="overflow: scroll">
          <div ng-repeat="picture in product.pictures">
            <img ng-src="{{picture}}" />
          </div>
        </div>
        <div class="item item-text-wrap">
          {{product.description}}
        </div>
        <div class="item item-divider">
          <span class="price" ng-repeat="retailPrice in product.retailPrices">
            <i class="icon ion-pricetag"></i>
            QTY({{$index + 1}}) : ${{retailPrice}}
          </span>
        </div>
        <div class="item item-divider">
          <button class="button icon ion-plus" ng-click="productsCtrl.order(product)"></button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>