<ion-view view-title="Settings">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <div class="input-label">Price Unit</div>
        <input type="text" ng-model="settingsCtrl.priceUnit">
      </label>
      <label class="item item-input">
        <div class="input-label">Package</div>
        <input type="text" ng-model="settingsCtrl.package">
      </label>
      <label class="item item-input">
        <div class="input-label">Custom Tarif</div>
        <input type="text" ng-model="settingsCtrl.customTarif">
      </label>
    </div>
  </ion-content>
</ion-view>