<ion-view view-title="Shopping">
  <ion-content>
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search" ng-model="shoppingCtrl.searchText">
    </label>
    <div class="list" ng-repeat="article in shoppingCtrl.articles | filter:shoppingCtrl.searchText">
      <div class="card">
        <div class="item item-thumbnail-left">
          <img ng-src="{{article.picture}}"></img>
          <div class="item item-divider">
            <h2>{{article.name}}</h2>
            <p>QTY: {{article.quantity}}</p>
          </div>
          <div class="item item-divider">
            <label class="item item-input">
              <span class="input-label">Retailer</span>
              <input type="text" ng-model="article.retailer"/>
            </label>
            <label class="item item-input">
              <span class="input-label">Unit Price</span>
              <input type="text" ng-model="article.retailPrice"/>
            </label>
            <label class="item item-input">
              <span class="input-label">Total Price</span>
              <input type="text" ng-model="article.totalPrice"/>
            </label>
            <label class="item item-input">
              <span class="input-label">Comments</span>
              <input type="text" ng-model="article.comment"/>
            </label>
          </div>
        </div>
      </div>
    </div>
    <label class="item item-input">
      <span class="input-label">Transportaion Fee</span>
      <input type="text" ng-model="shoppingCtrl.allTransFee"/>
    </label>
    <div class="button-bar">
      <button class="button icon ion-archive" ng-click="shoppingCtrl.save()"></button>
    </div>
  </ion-content>
</ion-view>